<!doctype html>

<style>
body {
background-image: linear-gradient(to left bottom, #bc8e1f, #bf9f30, #c1b042, #c3c155, #c5d169, #b1e08a, #a1edad, #98f7d0, #9ffafb, #c6faff, #edfaff, #ffffff);
background-size: cover;
}</style>


<body><br><br><br><br><br><br><br><br><br><br><br>
<center><form method="POST">

  <div class="form-inline">

    <div class="form-group">
      <input type="number" class="line-input" name="Attendance" placeholder="Attendance" required>
    </div><br><br>
	<div class="form-group">
      <input type="number" class="line-input" name="Lab" placeholder="max_Lab" required>
    </div><br><br>
	<div class="form-group">
      <input type="number" class="line-input" name="Quiz" placeholder="max_Quiz" required>
    </div><br><br>
	<div class="form-group">
      <input type="number" class="line-input" name="Compre" placeholder="Compre" required>
    </div><br><br>
	<div class="form-group">
      <input type="number" class="line-input" name="midsem" placeholder="Mid_sem" required>
    </div><br><br><br><br>
	  
	  </div>
    <button type="submit" class="btn btn-light text-primary btn-block" style="margin : 20px 20px -10px 0px">Submit</button>
  </div></center><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
	  
</form>
</body>
